/* CSS declarations go here */
@import "{}/node_modules/bootstrap/scss/bootstrap.scss";

.img {
  height: 100vh;
}

.margin-top {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: auto;
}

.caro {
  height: 400px;
}

.campo {
  width: auto;
}

.footer-pad {
  padding-top: 50px;
}

.image {
  width: 342px;
  padding: 1em;
}

.center {
  justify-content: center;
}

.center-text h2 {
  text-align: center;
}

@import './../imports/client/styles/main';
